html, body {
    height: 100%;
}

.jumbotron {
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

.container{
    color: white;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}